{% if editMode is not defined %}
    {% set editMode = false %}
{% endif %}

{% extends "ASUAssetBundle::layout.html.twig" %}

{% form_theme form "ASUAssetBundle::forms.html.twig" %}

{% block title %}{{ parent() }} | Stacker | New{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('asu_asset_default_index') }}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Register
    </li>
{% endblock %}

{% block pageHeaderTitle %}Stacker Creation{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">Stacker Information</div>
                <div class="box-body box-body-nopadding">
                    {{ form_start(form, { attr: { class: "form-horizontal form-bordered" },}) }}
                        {{ form_row(form.username) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.firstName) }}
                        {{ form_row(form.lastName) }}
                        {{ form_row(form.plainPassword) }}
                    <div class="form-actions" style="border-top: 1px solid lightgray">
                        <a href="{{ app.request.headers.get('referer') }}" class="button button-basic">Back</a>
                        <button type="reset" class="button button-basic">Reset</button>
                        <button type="submit" class="button button-basic-blue">{{ (editMode) ? "Update":"Create" }}</button>
                    </div>
                    {{ form_rest(form) }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
