{% spaceless %}
    <!doctype html>
    <html>
        <head>
            <meta charset="utf8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <title>{% block title %}Win Stacking{% endblock %}</title>
            <meta names="apple-mobile-web-app-status-bar-style" content="black-translucent" />
            {% block head_style %}
                {% stylesheets
                    "bundles/asuasset/css/bootstrap.min.css"
                    "bundles/asuasset/css/bootstrap-responsive.min.css"
                    "bundles/asuasset/css/chosen.css"
                    "bundles/asuasset/css/jquery.gritter.css"
                    "bundles/asuasset/css/jquery.tagsinput.css"
                    "bundles/asuasset/css/TableTools.css"
                    "bundles/asuasset/css/multi-select.css"
                    "bundles/asuasset/css/datepicker.css"
                    "bundles/asuasset/css/bootstrap-timepicker.min.css"
                    "bundles/asuasset/css/colorpicker.css"
                    "bundles/asuasset/css/jquery.plupload.queue.css"
                    "bundles/asuasset/css/jquery.plupload.queue.css"
                    "bundles/asuasset/css/jquery.cleditor.css"
                    "bundles/asuasset/css/uniform.default.min.css"
                    "bundles/asuasset/css/style.css"
                    "bundles/asuasset/css/showLoading.css"
                    "bundles/asuasset/less/custom.less"
                    debug=false
                    filter="uglifycss"
                    output="/css/compilied/layout.css"
                %}
                <link rel="stylesheet" href="{{ asset(asset_url) }}" media="screen" />
                {% endstylesheets %}
            {% endblock %}
            {% block head_script %}      
            {% endblock %}
        </head>
        {% block body %}
            <body data-layout="fixed">
                <div id="top"> 
                    <div class="container-fluid">
                        <div class="pull-left">
                            <a href="{{ path('asu_asset_default_index') }}" id="brand">
                                <img src="{{ asset('bundles/asuasset/images/stacker.png') }}" class="logo-top-bar" />Win Stacking
                            </a>
                        </div>
                        <div class="pull-right">
                            <div class="btn-group">
                                <a href="#" class="button dropdown-toggle" data-toggle="dropdown">
                                    <i class="icon-white icon-user"></i>
                                    {% if app.user != "" %}
                                        {{ app.user }}
                                    {% else %}
                                        Not Logged in
                                    {% endif %}
                                    <span class="caret"></span>
                                </a>
                                <div class="dropdown-menu pull-right">
                                    <div class="right-details">
                                        {% if app.user != "" %}
                                            <h6>Logged in as</h6>
                                            <span class="name">
                                                <a href="{{ path('asu_stack_stacker_details', { 'stacker': app.user.id }) }}">{{ app.user }}</a>
                                            </span>
                                            <span class="email">{{ app.user.email }}</span>
                                            <ul>
                                                <li>
                                                    <a href="{{ path("logout") }}">Logout</a>
                                                </li>
                                            </ul>
                                        {% else %}
                                            <h6>Not Logged in</h6>
                                            <ul>
                                                <li>
                                                    <a href="{{ path("login") }}">Login</a>
                                                </li>
                                            </ul>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <a href="{{ path("logout") }}" class="button">
                                <i class="icon-signout"></i>
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
                <div id="main">
                    <div id="navigation">
                        {% if app.user is not null %}
                            <div class="search">
                                <i class="icon-search icon-white"></i>
                                <form action="{{ path("asu_asset_search_results") }}" method="post">
                                    <input type="text" name="searchTerm" placeholder="Search here" />
                                </form>
                            </div>
                            {% include "ASUAssetBundle::navigation.html.twig" %}
                        {% endif %}
                    </div>
                    <div id="content">
                        <div class="page-header">
                            <div class="pull-left">
                                <h4><i class="{% block pageHeaderIcon %}icon-reorder{% endblock %}"></i>{% block pageHeaderTitle %}Blank page{% endblock %}</h4>
                            </div>
                            <div class="pull-right">
                                <ul class="bread">
                                    {% block breadcrumbs %}
                                        <li>
                                            <a href="">Home</a>
                                            <span class="divider">/</span>
                                        </li>
                                    {% endblock %}
                                </ul>
                            </div>
                        </div>
                        <div class="container-fluid" id="content-area">
                            {% if app.session.flashbag.has("success") %}
                                {% for message in app.session.flashbag.get("success") %}
                                    <div class="alert alert-success">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>Success!</strong> {{ message|raw }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if app.session.flashbag.has("warning") %}
                                {% for message in app.session.flashbag.get("warning") %}
                                    <div class="alert alert-info">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>Warning!</strong> {{ message|raw }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if app.session.flashbag.has("error") %}
                                {% for message in app.session.flashbag.get("error") %}
                                    <div class="alert alert-error">
                                        <button type="button" class="close" data-dismiss="alert">×</button>
                                        <strong>Error!</strong> {{ message|raw }}.
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% block content %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="navi-functions" style="display: none;">
                    <div class="btn-group btn-group-custom">
                        <a href="#" class="button button-square layout-not-fixed notify" rel="tooltip" title="Toggle fixed-nav" data-notify-message="Fixed nav is now " data-notify-title="Toggled fixed nav">
                            <i class="icon-unlock"></i>
                        </a>
                        <a href="#" class="button button-square layout-not-fluid notify button-active" rel="tooltip" title="Toggle fixed-layout" data-notify-message="Fixed layout is now " data-notify-title="Toggled fixed layout">
                            <i class="icon-exchange"></i>
                        </a>
                        <a href="#" class="button button-square notify notify-inverse layout-no-nav" rel="tooltip" title="Toggle navigation" data-notify-message="Navigation is now " data-notify-title="Toggled navigation">
                            <i class="icon-arrow-left"></i>
                        </a>
                        <a href="#" class="button button-square button-active force-last notify-toggle toggle-active notify" rel="tooltip" title="Toggle notification"  data-notify-message="Notifications turned " data-notify-title="Toggled notifications">
                            <i class="icon-bullhorn"></i>
                        </a>
                    </div>
                </div>
                {% block foot_script %}
                    {% javascripts
                        "bundles/asuasset/js/jquery.min.js"
                        "bundles/asuasset/js/jquery.migrate.min.js"
                        "bundles/asuasset/js/jquery.easing.min.js"
                        "bundles/asuasset/js/jquery.ui.widget.min.js"
                        "bundles/asuasset/js/jquery.ui.button.min.js"
                        "bundles/asuasset/js/jquery.ui.spinner.min.js"
                        "bundles/asuasset/js/jquery.ui.mouse.min.js"
                        "bundles/asuasset/js/jquery.ui.slider.min.js"
                        "bundles/asuasset/js/jquery.ui.slider.min.js"
                        "bundles/asuasset/js/jquery.ui.slider.min.js"
                        "bundles/asuasset/js/bootstrap.min.js"
                        "bundles/asuasset/js/chosen.jquery.min.js"
                        "bundles/asuasset/js/jquery.nicescroll.min.js"
                        "bundles/asuasset/js/jquery.gritter.min.js"
                        "bundles/asuasset/js/jquery.tagsinput.min.js"
                        "bundles/asuasset/js/jquery.dataTables.min.js"
                        "bundles/asuasset/js/TableTools.min.js"
                        "bundles/asuasset/js/jquery.multi-select.min.js"
                        "bundles/asuasset/js/bootstrap-timepicker.min.js"
                        "bundles/asuasset/js/bootstrap-datepicker.min.js"
                        "bundles/asuasset/js/jquery.maskedinput.min.js"
                        "bundles/asuasset/js/bootstrap-colorpicker.min.js"
                        "bundles/asuasset/js/plupload.full.min.js"
                        "bundles/asuasset/js/jquery.plupload.queue.min.js"
                        "bundles/asuasset/js/jquery.cleditor.min.js"
                        "bundles/asuasset/js/jquery.uniform.min.js"
                        "bundles/asuasset/js/bootstrap-fileupload.min.js"
                        "bundles/asuasset/js/jquery.cleditor.min.js"
                        "bundles/asuasset/js/jquery.showLoading.js"
                        "bundles/asuasset/js/jquery.form.min.js"
                        "bundles/asuasset/js/jquery.validate.min.js"
                        "bundles/asuasset/js/jquery.form.wizard.min.js"
                        "bundles/asuasset/js/additional-methods.min.js"
                        "bundles/asuasset/js/application.js"
                        "bundles/asuasset/js/eakroko.js"
                        debug=false
                        filter="uglifyjs"
                        output="/js/compilied/layout.js"
                    %}                    	
                    <script src="{{ asset(asset_url) }}" type="text/javascript"></script>
                    {% endjavascripts %}
                {% endblock %}
            </body>
        {% endblock %}
    </html>
{% endspaceless %}