<ul class="mainNav" data-open-subnavs="multi">
    <li class="{% if 'asu_asset_default_index' in app.request.attributes.get('_route') %}active open{% endif %}">
        <a href="{{ path('asu_asset_default_index') }}"><i class="icon-dashboard icon-white"></i><span>Dashboard</span></a>
    </li>
    <li class="{% if 'asu_stack_win_list' in app.request.attributes.get('_route') %}active open{% endif %}">
        <a href=""><i class="icon-trophy icon-white"></i><span>Wins</span></a>
        <ul class="subnav">
            <li class="{% if 'asu_stack_win_list' == app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('asu_stack_win_list', { 'stacker': app.user.id }) }}">My Wins</a>
            </li>
            <li class="{% if 'asu_stack_win_create' == app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('asu_stack_win_create') }}">Create</a>
            </li>
        </ul
    </li>
    <li class="{% if 'asu_stack_team' in app.request.attributes.get('_route') %}active open{% endif %}">
        <a href=""><i class="icon-group icon-white"></i><span>Teams</span></a>
        <ul class="subnav">
            <li class="{% if 'asu_stack_team_list' == app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('asu_stack_team_list') }}">All Teams</a>
            </li>
            <li class="{% if 'asu_stack_team_member' == app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('asu_stack_team_member', { 'stacker': app.user.id }) }}">My Teams</a>
            </li>
            <li class="{% if 'asu_stack_team_create' in app.request.attributes.get('_route') %}active{% endif %}">
                <a href="{{ path('asu_stack_team_create') }}">Create</a>
            </li>
        </ul>
    </li>
</ul>