{% extends "ASUAssetBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Team | List{% endblock %}

{% block breadcrumbs %}
    <li>
        <a href="{{ path('asu_asset_default_index') }}">Home</a>
        <span class="divider">/</span>
    </li>
    <li class="active">
        Teams
    </li>
{% endblock %}

{% block pageHeaderTitle %}Teams{% endblock %}

{% block content %}
    <h1>Team list</h1>
    <div class="row-fluid">
        <div class="span12">
            <div class="box">
                <div class="box-head">Teams</div>
                <div class="box-body box-body-nopadding">
                {% block toolbar %}
                {% endblock %}
                    <table class="table table-nomargin">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Genre</th>
                                <th>Created By</th>
                                <th>Date Created</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for team in teams %}
                            <tr>
                                <td>{{ team.name }}</td>
                                <td>{{ team.getGenre(true) }}</td>
                                <td>{{ team.creator }}</td>
                                <td>{{ (team.dateCreated is not null) ? team.dateCreated|date('Y-m-d') }}</td>
                                <td>
                                {% if app.user in team.members %}
                                    <a href="{{ path('asu_stack_team_leave', { 'team': team.id, 'stacker': app.user.id }) }}" class="button button-basic-red button-small">Leave Team</a>
                                    
                                {% else %}
                                    <a href="{{ path('asu_stack_team_join', { 'team': team.id, 'stacker': app.user.id }) }}" class="button button-basic-green button-small">Join Team</a>
                                {% endif %}
                                {% if app.user.id == team.creator.id %}
                                    <a href="{{ path('asu_stack_team_update', { 'team': team.id }) }}" class="button button-basic-blue button-small">Edit</a>
                                {% endif %}
                                    <a href="{{ path('asu_stack_team_details', { 'team': team.id }) }}" class="button button-basic button-small">Details</a>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="1">No Teams</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
