{% extends "ASUAssetBundle::layout.html.twig" %}

{% block content %}
    <h1>Win list</h1>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Xp</th>
                <th>Datecreated</th>
                <th>Datecompleted</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('win_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.title }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.xp }}</td>
                <td>{% if entity.dateCreated %}{{ entity.dateCreated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.dateCompleted %}{{ entity.dateCompleted|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.category }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
