{% extends "ASUAssetBundle::layout.html.twig" %}

{% block title %}{{ parent() }} | Dashboard{% endblock %}

{% block pageHeaderTitle %}Dashboard{% endblock %}

{% block content %}
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div class="box-head">
                    Completed Wins
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    {{ completedWins }}
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="box">
                <div class="box-head">
                    Incomplete Wins
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    {{ incompleteWins }}
                </div>
            </div>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span3">
            <div class="box">
                <div class="box-head">
                    XP Earned
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    {{ earnedXP }}
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="box">
                <div class="box-head">
                    XP Available
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    {{ unearnedXP }}
                </div>
            </div>
        </div>
        <div class="span3">
            <div class="box">
                <div class="box-head">
                    XP Per Day
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    {{ earnedXP/daysActive|number_format(0) }}
                </div>
            </div>
        </div>
    </div>
    {#
    <div class="row-fluid">
        <div class="span6">
            <div class="box">
                <div class="box-head">
                    Win Categories
                </div>
                <div class="box-body" style="font-weight: bold; font-size: 21pt; text-align: center;">
                    <ul class="charts">
                        <li style="margin: 0 10px;">
                            <div class="chart" data-percent="{{ chorePercent }}" style="width: 110px; height: 110px; line-height: 110px;">
                                {{ chorePercent }}%
                                <canvas width="110" height="110"></canvas>
                            </div>
                            <span>Chores</span>
                        </li>
                        <li style="margin: 0 10px;">
                            <div class="chart easyPieChart" data-percent="{{ dutyPercent }}" style="width: 110px; height: 110px; line-height: 110px;">
                                {{ dutyPercent }}%
                                <canvas width="110" height="110"></canvas>
                            </div>
                            <span>Duties</span>
                        </li>
                        <li style="margin: 0 10px;">
                            <div class="chart easyPieChart" data-percent="{{ goalPercent }}" style="width: 110px; height: 110px; line-height: 110px;">
                                {{ goalPercent }}%
                                <canvas width="110" height="110"></canvas>
                            </div>
                            <span>Goals</span>
                        </li>
                        <li style="margin: 0 10px;">
                            <div class="chart easyPieChart" data-percent="{{ milestonePercent }}" style="width: 110px; height: 110px; line-height: 110px;">
                                {{ milestonePercent }}%
                                <canvas width="110" height="110"></canvas>
                            </div>
                            <span>Milestones</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    #}
{% endblock %}